*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
} 
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}
.container{
    width: 1240px;
    margin: 0 auto;
}
:root{
    --primary: #6345D5;
    --secondary: #FC9770;
    --tertiary: #192252;
}

/* ==========navbar start======= */
#navbar{
    padding: 23px 0;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2px);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.nav_wrapper{
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
}
.menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.menu li a{
    color: #606D93;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.menu li a:hover{
    color: var(--tertiary);
}
.navbtn{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}
.navbtn a{
    display: inline-block;
    background-color: var(--primary);
    border-radius: 8px;
    padding: 16px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    line-height: normal;
    transition: all linear 0.3s;
}
.navbtn a:hover{
    background-color: #fff;
    color: var(--primary);
}
/* ==========navbar end======= */

/* ==========banner start======= */
#banner{
}
.shape1, .shape2, .shape3{
    position: relative;
}
.shape1 img{
    position: absolute;
    right: 0;
    z-index: 0;
}
.shape2 img{
    position: absolute;
    right: 0;
    top: 100px;
}
.shape3 img{
    position: absolute;
    left: 0;
    top: 150px;
}
.banner_wrapper{
    display: flex; 
    padding-top: 215px;
    gap: 54px;
    padding-bottom: 660px;
}
.banner_desc{
    width: 503px;
    position: relative;
    z-index: 999;
}
.banner_desc h1{
    color: var(--tertiary);
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
}
.banner_desc p{
    color: #848FAC;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    max-width: 332px;
    padding: 40px 0;
}
.banner_btn{
    display: flex;
    gap: 24px;
}
.banner_btn a:first-child{
    padding: 20px 40px;
    background-color: var(--primary);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.banner_btn a:first-child:hover{
    background-color: #fff;
    color: var(--primary);
}
.banner_btn a:last-child{
    padding: 20px 53px;
    background-color: #fff;
    border-radius: 8px;
    color: var(--primary);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    transition: all linear 0.3s;
}
.banner_btn a:last-child:hover{
    background-color:var(--primary);
    color: #fff;
}
.banner_img{
    width: 683px;
    position: relative;
    left: 40px;
    z-index: 999;
}
.banner_bigimg_box{
    position: relative;
}
.banner_bigimg{
    width: 100%;
    height: 882px;
    border-radius: 28px;
    background-color: #D9D9D9;
    position: absolute;
    bottom: -422px;
    z-index: 999;
    overflow: hidden;
}
.banner_bigimg img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* ==========banner end======= */

/* ==========counter start======= */
#counter{
    background-color: #201353;
    padding-top: 522px;
    padding-bottom: 32px;
}
.counter_wrapper{
    padding: 48px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter_item{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    position: relative;
}
.counter_item::after{
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate( 64px,-50%);
    height: 32px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.20);
}
.counter_item:last-child::after{
    background-color: transparent;
}
.counter_item .count_number{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.counter_item .count_title{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.64);;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.counter_item:last-child{
    justify-content: end;
}
.counter_item:first-child{
    justify-content: start;
}
/* ==========counter end======= */

/* ==========feature start======= */
#feature{
    background-color: #201353;
    padding-top: 100px;
}
.feature_heading{
    display: flex;
    justify-content: space-between;
}
.feature_heading h2{
    color: #fff;
    font-size: 52px;
    line-height: normal;
    font-weight: 700;
    max-width: 514px;
    text-transform: capitalize;
}
.feature_heading p{
    max-width: 555px;
    color: rgba(255, 255, 255, 0.64);
    font-weight: 500;
    font-size: 18px;
    margin-top: 18px;
    line-height: normal;
}
.feature_main{
    margin-top: 48px;
    position: relative;
}
.feature_wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 100px;
}
.feature_img{
    position: absolute;
    bottom: -4px;
    right: -5%;
}
.feature_wrapper .transaction{
    width: 368px;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;
}
.transaction .transaction_heading{
    display: flex;
    align-items: center;
    gap: 16px;
}
.transaction_heading h4{
    color: var(--tertiary);
    font-size: 18px;
    line-height: 150%;
    font-weight: 600;
}
.transaction p{
    margin-top: 20px;
    color: #848FAC;
    font-weight: 400;
    line-height: 150%;
    font-size: 16px;
}
.transaction .progress{
    height: 4px;
    border-radius: 2px;
    margin-top: 24px;
    background-color: #EFF3FA;
    position: relative;
    overflow: hidden;
}
.transaction .progress::after{
    position: absolute;
    content: "";
    background-color: var(--primary);
    left: 0;
    top: 0;
    height: 100%;
    width: 55%;
    border-radius: 2px;
}
.feature_wrapper .history{
    width: 368px;
    border: 1px solid var(--primary);
    border-radius: 16px;
    padding: 24px;
}
.history .history_heading{
    display: flex;
    gap: 12px;
    align-items: center;
}
.history_heading h4{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
}
.skeleton1{
    margin-top: 20px;
    width: 307px;
    height: 16px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);
}
.skeleton2{
    margin-top: 10px;
    width: 287px;
    height: 16px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.30);
}
.skeleton3{
    margin-top: 26px;
    width: 320px;
    height: 4px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.15); 
}
/* ==========feature end======= */

/* ==========navbar start======= */
#video{
    height: 100px;
}
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */

/* ==========navbar start======= */
/* ==========navbar end======= */